// slider

.background {
  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.slider-wrapper {
  position: relative;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  pointer-events: none;

  @media screen and (min-width: $tablet) {
    left: 159px;
  }

  @media screen and (min-width: $desktop) {
    left: 155px;
  }
}

.slider__image {
  max-width: 100%;
  @media screen and (max-width: ($tablet - 1)) {
    height: 580px;
  }
  @media screen and (min-width: $tablet) {
    height: 680px;
  }
  object-fit: cover;
}

// slider radio buttons

.slider-radio {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;

    position: absolute;
    top: 325px;
    right: 39px;

    z-index: 3;
  }

  @media screen and (min-width: $desktop) {
    right: 55px;
  }
}

.slider-radio__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.slider-radio__icon {
  display: block;
  width: 8px;
  height: 2px;

  margin-left: auto;

  background-color: $secondaryTextColor;

  .slider-radio__input:checked ~ & {
    width: 18px;

    background-color: $white;
  }
}

// slider navigation buttons

.slider-nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;

    position: absolute;
    top: 616px;
    right: 39px;

    z-index: 3;
  }

  @media screen and (min-width: $tablet) {
    right: 55px;
  }
}

.slider-nav__list {
  display: flex;
  flex-direction: row;
}

.slider-nav__item {
  &:not(:last-child) {
    margin-right: 26px;
  }
}

.slider-nav__btn {
  display: block;

  padding: 0;
  padding-bottom: 8px;

  font-family: $textFont;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  background-color: transparent;
  border: none;

  color: $white;
  border-bottom: 1px solid $white;

  @include twoTransitions(color, border-bottom);

  &:disabled {
    color: $alternateTextColor;
    border-bottom: 1px solid $alternateTextColor;
  }
}

.slider-nav__btn--prev {
  padding-right: 22px;
}

.slider-nav__btn--next {
  padding-left: 13px;
}

// bg gradient for the whole width

.page-header {
  background-color: $bgServices;
}

// logo

.header-nav {
  position: relative;
  z-index: 4;
}

.logo {
  position: absolute;
  left: 0;
  top: 40px;

  color: $white;

  @media screen and (min-width: $tablet) {
    left: 11px;

    color: $dark;
  }

  @media screen and (min-width: $desktop) {
    left: 0;
  }
}

// burger - button

.burger-button {
  @extend %button;

  position: absolute;
  right: 0;
  top: 48px;

  z-index: 6;

  color: $white;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accentColor;
  }

  // закрытие и открытие меню - замена иконок
  & .burger-opened {
    display: none;
  }
  &.is-open .burger-opened {
    display: block;
    color: $dark;
  }
  &.is-open .burger-closed {
    display: none;
  }

  // фиксирование кнопки закрытия при переходе меню по якорям
  &.is-open {
    position: fixed;
    @media screen and (max-width: $mobile) {
      right: 31px;
    }
    @media screen and (min-width: ($mobile + 1)) and (max-width: ($tablet - 1)) {
      right: calc(((100vw - 480px) / 2) + 31px);
    }
  }

  // not visible after $tablet
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

// backdrop
.backdrop {
  @media screen and (max-width: ($tablet - 1)) {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-y: scroll;

    width: 100%;
    height: 100%;

    background-color: rgba(25, 28, 38, 0.2);

    opacity: 0;

    pointer-events: none;

    @include transition($property: opacity);

    &.is-open {
      opacity: 1;
      pointer-events: initial;
    }
  }

  // not visible after $tablet
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

// removes body scroll while burger is opened

.body-hidden {
  overflow: hidden;
}

// burger - menu

.burger-wrapper {
  position: absolute;
  top: 0;
  right: 0;

  padding-top: 118px;
  padding-left: 40px;
  width: 70%;
  height: 796px;

  overflow-y: scroll;

  background-color: $white;

  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.08),
    -4px 0px 8px rgba(0, 0, 0, 0.04);

  opacity: 0;

  @include transition(opacity);

  pointer-events: none;

  .backdrop.is-open & {
    opacity: 1;

    pointer-events: initial;
  }
}

// nav-main for tablet and desktop

.nav-main {
  @media screen and (max-width: ($tablet - 1)) {
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 153px;
  margin-left: 120px;
  padding-left: 24px;
  padding-top: 40px;

  position: relative;
  z-index: 2;

  @media screen and (min-width: $desktop) {
    margin-left: 100px;
    margin-bottom: 182px;
    padding-left: 40px;
    padding-top: 52px;
  }
}

// navigation menu

.nav-menu {
  margin-bottom: 64px;

  @media screen and (min-width: $tablet) {
    display: flex;

    margin-bottom: 0;
    padding-top: 12px;
  }
}

.nav-menu__item:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 40px;
  }
}

.nav-menu__link {
  font-family: $textFont;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(14, 18, 320, 480);
  }

  color: $dark;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.33;

    color: $white;
  }
}

// contact-us

.contact-us {
  margin-bottom: 64px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: baseline;
  }
}

.contact-us__item:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 40px;
  }
}

.contact-us__item:last-child {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    margin-bottom: 20px;
  }
}

.contact-us__tel {
  font-family: $textFont;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(14, 18, 320, 480);
  }

  color: $dark;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.33;

    color: $white;
  }
}

.contact-us__online {
  @extend %online-button-light;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(9, 12, 320, 480);
  }

  @include twoTransitions(color, background-color);

  @media screen and (max-width: ($tablet - 1)) {
    padding-right: 37px;
    padding-left: 37px;
  }

  @media screen and (min-width: $tablet) {
    color: $white;
  }
}

// follow-us

.slider-media {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    height: 680px;

    background-color: $white;
  }
}

.follow-us {
  margin-left: 100px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 0;
    margin-top: 440px;

    transform: rotate(-90deg);
  }
}

.follow-us__item:not(:last-child) {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.follow-us__link {
  font-family: $textFont;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(11, 14, 320, 480);
  }

  @media screen and (min-width: $tablet) {
    font-size: 11px;
  }

  color: $dark;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.follow-us__link--decorated {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    margin-right: 40px;
    margin-left: -100px;
    width: 60px;
    height: 1px;

    background: $dark;

    @media screen and (min-width: $tablet) {
      margin-left: -115px;
    }
  }
}

// text area

.heading {
  padding-top: 208px;
  padding-bottom: 185px;
  position: relative;
  z-index: 2;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 245px;
    padding-left: 120px;
    margin-left: 120px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 206px;
    padding-left: 100px;
    margin-left: 100px;
  }
}

.heading__description {
  margin-left: 80px;
  margin-bottom: 20px;

  font-family: $textFont;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(9, 11, 320, 480);
  }

  color: rgba(157, 164, 189, 0.6);

  display: flex;
  align-items: center;
  &:before {
    content: '';
    display: block;
    margin-right: 20px;
    margin-left: -80px;
    width: 60px;
    height: 1px;

    background: rgba(157, 164, 189, 0.6);
  }
}

.heading__main {
  margin-bottom: 20px;

  font-family: $headerFont;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(40, 48, 320, 480);
  }

  color: $white;

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.heading__about-us {
  max-width: 306px;

  font-family: $textFont;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;

  @media (max-width: ($mobile - 1)) {
    font-size: calcFluidFontSize(14, 16, 320, 480);
  }

  color: $secondaryTextColor;

  @media screen and (min-width: $tablet) {
    max-width: 355px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 400px;

    font-size: 18px;
    line-height: 1.67;
  }
}
