// button - reset

%button {
  display: inline-block;

  padding: 0;

  font-family: inherit;
  letter-spacing: inherit;

  cursor: pointer;
}

// common styles for 'online appointment' link
%online-button-light {
  padding: 12px 20px;
  display: inline-block;

  font-family: $textFont;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $dark;

  cursor: pointer;

  border: 1px solid $accentColor;
  border-radius: 25px;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $white;
  }
}

// mixins for transitions

@mixin transition(
  $property,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $time $timingFunction;
}

@mixin twoTransitions(
  $propertyI,
  $propertyII,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $propertyI $time $timingFunction,
    $propertyII $time $timingFunction;
}

// fluid font size for small screens

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}
