// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// text colors
$white: #ffffff;
$dark: #303030;
$secondaryTextColor: #9da4bd;
$mainTextColor: #555555;
$alternateTextColor: rgba(157, 164, 189, 0.6);
$accentColor: #ff6c00;

// bg colors
$bgFooter: #191c26;
$bgSection: #f7f7f7;
$bgServices: #111319;

// fonts
$headerFont: Raleway, sans-serif;
$textFont: 'Open Sans', sans-serif;
